In [2]:
a = 10
print(a)

10

마크다운~

In [3]:
b = "hello world"
print(b)

hello world

In [6]:
a #주피터노트북에서는 a만 입력해도 나옴, python에서는 안됨
  #그냥 판다스를 쓰면 print 보다 a를 쓰는 게 더 출력물이 예쁘게 나옴

10

In [7]:
print(type(a))
print(type(b))

<class 'int'>
<class 'str'>

In [9]:
c = "10" #따옴표로 묶으면 type str로 바뀜
print(type(c))

<class 'str'>

In [10]:
x = 5
y = 3
print(x+y, x-y, x*y, x/y, x//y, x%y, x**y) # //몫, %나머지, **y승

8 2 15 1.6666666666666667 1 2 125

In [11]:
## 대입 연산자
x += 1
# x = x+1
print(x)

6

In [12]:
## x = 6임
x -= 3
print(x)

3

In [13]:
x *= 5
print(x)

15

In [14]:
## 비교 연산자
## 비교 연산자 -> bool의 형태의 데이터를 출력 (True, False)
d = 5
e = 3

print(d == e, d != e, d > e, d < e, d >= e, d <= e)

False True True False True False

In [17]:
## and, or, not
## and 두 조건이 모두 참인 경우 참
## or 두 조건 중 하나만 참이면 참
## not 반대로 출력 해줌
a = 10
print((a > 5) and (a < 15)) # 두 조건이 모두 참이기에 결과 true
print((a > 5) and (a > 15)) # 두 조건 중 하나만 참이기에 결과 False

True
False

In [18]:
print( (a>5) or (a>15) ) # 두 조건 중 하나만 참이어도 True

True

In [25]:
not(True) #소문자로 입력하면 오류남

False

In [27]:
not(False) # not 부정의 의미, bool의 형태가 반대로 출력됨

True

# if문
1. 조건식이 참인 경우 코드가 실행 (들여쓰기 한 코드가 실행)
2. 조건식이 거짓인 경우 코드가 실행이 되지 않는다. 
3. 거짓일 때의 코드를 실행하려면 else 문을 사용해야 한다.

In [29]:
a = 5

if a < 10:
    print("a는 10보다 작다.") #a가 10보다 작은 경우에만 실행

a는 10보다 작다.

In [30]:
a = 15

if a < 10:
    print("a는 10보다 작다.") # a가 10보다 크기 때문에 아무것도 나오지 않음.

In [32]:
a = 15

if a < 10:
    print("a는 10보다 작다.")
else : #거짓인 경우에 실행
    print("a는 10보다 크거나 같다.")

a는 10보다 크거나 같다.

In [35]:
score = int(input("점수를 입력해주세요 : ")) #input으로 입력하면 무조건 str 형태로 들어와서 int 형태로 바꿔주는 것

if score >= 90 :
    print("A")
elif score >= 80 :
    print("B")
elif score >= 70 :
    print("C")
else :
    print(F)

B
85

In [36]:
## for문
## for 변수명 in range(시작값, 종료값, 증가값) :

for i in range(0, 5, 1):
    print(i)

0
1
2
3
4

In [37]:
for i in range(10, 1, -1):
    print(i)

10
9
8
7
6
5
4
3
2

In [38]:
for i in range(0, 10, 2):
    print(i)

0
2
4
6
8

1. for문을 이용해서 1부터 10까지의 합계를 출력하시오
2. 1부터 50까지의 짝수의 합계를 구하는 식
3. 주사위 2개를 굴려 합이 10이 되는 경우의 수를 출력하시오

In [90]:
sum = 0

for i in range(0, 10, 1): #값 지정을 +1해서 해야 함, [0]은 하나 덜 새기 때문ㅇㅇ
    sum += i
print(sum)


#1부터 10까지의 합, 1+2+3+4+5+6+7+8+9+10

45

In [79]:
# 1번 해답
# 합계 변수 미리 생성

sum = 0

for i in range(1, 11, 1):
    sum += i #1부터 10까지의 sum
print(sum)

55

In [85]:
sum = 0

for i in range (1, 51, 1):
    if i%2 == 0:
        sum += i
print(sum)

650

In [87]:
# 3번 해답
# 주사위가 2개 (총 경우의 수 36개 6 X 6)
for i in range(1, 7, 1):                #1번 주사위 경우의 수 
    for j in range(1, 7, 1):            #2번 주사위 경우의 수
        if i + j == 10:
            print(i, j)

4 6
5 5
6 4

In [91]:
sum = 0

for i in range (1, 51, 1):
    if i%2 == 0:
        sum += i
print(sum)

650

In [92]:
for i in range(1, 7, 1):
    for j in range(1, 7, 1):
        if i + j == 10:
            print(i, j)

4 6
5 5
6 4

# while 문

In [93]:
# 초기 값을 미리 지정
# while 조건식

i = 0

while i < 10 :
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

In [94]:
# break 문 : 반복문을 종료한다.

for i in range(0, 100, 1):
    if i == 7 :
        break
    print(i)

0
1
2
3
4
5
6

In [95]:
for i in range(0, 100, 1):
    print(i)
    if i == 7:
        break

0
1
2
3
4
5
6
7

In [97]:
for i in range(0, 100, 1):
    print(i, end = " ") #end 구문을 통해 한 줄로 작성
    if i == 7:
        break

0 1 2 3 4 5 6 7

1부터 시작해서 1000까지의 합을 구하는데, 합계가 900이 넘어가는 최초의 숫자는 무엇인가?

In [109]:
sum = 0

for i in range(1, 1001, 1):
    sum += i
    if sum >= 900:
        print(sum)
        print(i)
        break

903
42

In [111]:
# while 이용

sum = 0
i = 1

while i <= 1000 :
    sum += i
    if sum >= 900:
        print(i)
        break
    i += 1

42

In [113]:
# tuple 데이터형태

a = (20, "test")
b = (3, 3.14)
c = a + b
d = a * 3

print(a, b, c, d)

(20, 'test') (3, 3.14) (20, 'test', 3, 3.14) (20, 'test', 20, 'test', 20, 'test')

In [114]:
# 20이라는 숫자를 출력하려면 
print(a[0])

20

In [115]:
a = (10, 20, 30, 40)

In [117]:
a[1:3] #2, 3번째값이 나옴

(20, 30)

In [123]:
# (30, 40) 출력을 하려면?
print(a[2:4]) #2부터 4전까지 출력해줘잉
print(a[2:])

(30, 40)
(30, 40)

In [125]:
# (10, 20, 30) 출력을 하려면?
print(a[0:3])
print(a[:3])

(10, 20, 30)
(10, 20, 30)

In [135]:
# 리스트 데이터형

a = [20, 10, 50, 5]
b = [10, 20, 30, 40]

a

[20, 10, 50, 5]

In [136]:
# sort() -> 오름차순 정렬
a.sort() #변수명.함수명()
a

[5, 10, 20, 50]

In [132]:
# reverse() -> 역순으로 정렬
b.reverse()
b

[40, 30, 20, 10]

In [137]:
a.append(22)
print(a)

[5, 10, 20, 50, 22]

In [142]:
# 1부터 70까지 3의 배수를 리스트로 만들어서 출력하시오

count = []

for i in range(1, 71, 1):
    if i%3 == 0:
        count.append(i)
print(count)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69]

In [144]:
# 해답
# 리스트로 출력하려면 비어있는 리스트 변수를 생성해야 함
l = []

for i in range(1, 71, 1):
    if i % 3 == 0:
        l.append(i)

print(l)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69]

In [145]:
# 딕셔너리 데이터형 
# {key : value, key1 : value1}의 형태
# df 형태로 한 번에 변경 가능하기 때문에 매우 유용

dict = {"name" : "test", "age" : 20, "phone" : "01012345678"}

In [146]:
print(dict)

{'name': 'test', 'age': 20, 'phone': '01012345678'}

In [147]:
print(dict[0])

KeyError: 0

In [148]:
print(dict["name"])

test

In [149]:
dict['area'] = "seoul"
print(dict)

{'name': 'test', 'age': 20, 'phone': '01012345678', 'area': 'seoul'}

In [150]:
# 데이터의 형태 [{} , {}, {}] 리스트 형태 안에 딕셔너리 형태로 많이 들어가 있음

test_data = [
    {"name" : "test", 
    "age" : 20},
    {"name" : "test2",
    "age" : 25},
    {'name' : 'test3',
    "age" : 15} 
]

In [151]:
print(test_data)

[{'name': 'test', 'age': 20}, {'name': 'test2', 'age': 25}, {'name': 'test3', 'age': 15}]

In [155]:
## test 문구를 출력하려면?
print(test_data[0]["name"])

test

In [158]:
# 대소문자 변환하는 함수 이용
# upper(), lower(), title()
a = "Hello world"
print(a.upper())
print(a.lower()) #작업하면 이거 가장 많이 사용함
print(a.title()) #단어의 시작글자만 대문자로 변경되었음

HELLO WORLD
hello world
Hello World

In [169]:
# 공백을 제거하는 함수
# strip()
# replace()

a = "    hello  world   "
a

'    hello  world   '

In [162]:
a.strip()

'hello  world'

In [164]:
a.lstrip()

'hello  world   '

In [165]:
a.rstrip()

'    hello  world'

In [167]:
a.replace("hello", "hi") # hello를 hi로 변경해주겠다.

'    hi  world   '

In [171]:
a.replace(" ", "")

'helloworld'

In [172]:
# split() : 기준이 되는 문자열이나 . ] / 특수문자열을 기준으로 문자열을 나눠주는 역할을 한다.
a = "a, b, c, d, e"
print(a)

a, b, c, d, e

In [173]:
a.split(",")

['a', ' b', ' c', ' d', ' e']

In [175]:
# 함수 -> 뭔가 행동을 하는 것. 데이터를 변환시켜준다. 
# def 함수명 (매개변수) : 

def func_1():
    print("Hello world")

func_1()
func_1() # 매개변수가 없으면 이렇게 지어짐

Hello world
Hello world

In [198]:
# 함수 안의 result 변수 => 지역변수 (문맥 속에서만 사용 가능)
# 함수 밖에 있는 x라는 변수 -> 전역변수 (프로그램 어디서든 사용 가능, 함수 밖에서 정의 필요) 

def func_2(a):
    result = a * x
    print(result)
    return result # result 값을 반환한다. 어떤 다른 변수에 담기 위해 return을 씀. 
    # a, b 연산 여러 개. 결과 값을 가지고 와서 어디서 사용하기 위함. 
    # 지역변수를 전역변수에 집어넣기 위해 사용

print(x)
print(func_2(5))

3
15
15

In [193]:
def func_3(a, b, c):
    result = a + b + c
    return result 

print(func_3(1, 2, 3))
#print(func_3(1, 3)) #인자값과 매개변수의 값은 같아야 한다. 해당 print로 하면 오류남

6

In [200]:
def func_4(a, b, c=5):
    result = a + b - c
    return result

print(func_4(5, 2)) # 5 + 2 - 5 (c의 기본값 -로 ㅇㅇ)
print(func_4(5, 2, 1)) # 5 + 2 - 1 (값이 있기에 기본값을 무시한 결과인 입력값 1을 출력)

2
6