In [2]:
import pandas as pd

In [2]:
#판다스 없으면 설치
!pip imstall pandas

In [4]:
pd_list = pd.Series([5000, 6000, 6500, 7000], index=["아메리카노", "카페라떼", "카페모카", "카푸치노"])
             #클래스를 불러올 때는 앞글자 대문자로 적어줘야 함. (필수는 아닌데 정석, 클래스인지 아닌지도 이거로 구분 가능)

In [5]:
print(pd_list)

아메리카노    5000
카페라떼     6000
카페모카     6500
카푸치노     7000
dtype: int64

In [6]:
print("스리즈의 값 : ", pd_list.values) 
print("스리즈의 인덱스 값 : ", pd_list.index)

스리즈의 값 :  [5000 6000 6500 7000]
스리즈의 인덱스 값 :  Index(['아메리카노', '카페라떼', '카페모카', '카푸치노'], dtype='object')

In [7]:
_value = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
_index = ['a', 'b', 'c']
_columns = ['A', 'B', 'C']

pd_df = pd.DataFrame(_value, index = _index, columns = _columns)
pd_df #프린트안하는 게 더 보기 좋음

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9

In [8]:
print(pd_df)

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9

In [9]:
print("데이터프레임의 값 : ", pd_df.values)
print("데이터프레임의 인덱스 값 : ", pd_df.index)
print("데이터프레임의 컬럼 값 : ", pd_df.columns)

데이터프레임의 값 :  [[1 2 3]
 [4 5 6]
 [7 8 9]]
데이터프레임의 인덱스 값 :  Index(['a', 'b', 'c'], dtype='object')
데이터프레임의 컬럼 값 :  Index(['A', 'B', 'C'], dtype='object')

In [12]:
# 딕셔너리 형태의 데이터를 데이터프레임으로 변경

_values = {"name" : ["A", "B", "C"],
"age" : [20, 30, 40],
"phone" : ["010123456789", "01012341234", "01056785678"]}

pd_df_2 = pd.DataFrame(_values)
pd_df_2

  name  age         phone
0    A   20  010123456789
1    B   30   01012341234
2    C   40   01056785678

In [14]:
#같은 내용 좀 더 보기 좋게 정리

_values = {
    "name" : ["A", "B", "C"],
    "age" : [20, 30, 40],
    "phone" : ["010123456789", "01012341234", "01056785678"]
    }

pd_df_2 = pd.DataFrame(_values)
pd_df_2

  name  age         phone
0    A   20  010123456789
1    B   30   01012341234
2    C   40   01056785678

In [15]:
# head(), tail(), columns 지정
pd_df_2.head(2)

  name  age         phone
0    A   20  010123456789
1    B   30   01012341234

In [16]:
pd_df_2.tail(2)

  name  age        phone
1    B   30  01012341234
2    C   40  01056785678

In [17]:
pd_df_2['age']

0    20
1    30
2    40
Name: age, dtype: int64

In [19]:
csv_df = pd.read_csv("example.csv")
csv_df

  Name  Gender          Phone
0    A    male  010-1234-5678
1    B  female  010-1234-5679
2    C    male  010-1234-5680
3    D  female  010-1234-5681
4    E    male  010-1234-5682
5    F  female  010-1234-5683
6    G    male  010-1234-5684
7    H  female  010-1234-5685
8    I    male  010-1234-5686
9    J  female  010-1234-5687

# 경로지정
1. 절대 경로, 절대적인 주소 지정 (예> url주소, C:\users\test.txt)
2. 상대 경로, 작업중인 환경에서 현재, 상위, 하위 폴더를 경로로 지정
3. './' : 현재 작업 중인 디렉토리
4. '../' : 상위 디렉토리 이동
5. './폴더명/' : 하위 디렉토리 이동

In [20]:
# 현재 작업 중인 디렉토리, ./ 생략해도 됨
csv_df = pd.read_csv("./example.csv")
csv_df

  Name  Gender          Phone
0    A    male  010-1234-5678
1    B  female  010-1234-5679
2    C    male  010-1234-5680
3    D  female  010-1234-5681
4    E    male  010-1234-5682
5    F  female  010-1234-5683
6    G    male  010-1234-5684
7    H  female  010-1234-5685
8    I    male  010-1234-5686
9    J  female  010-1234-5687

절대경로 지정은 환경이 바뀔 때마다 지정을 다시 해줘야 하지만,  
상대경로는 환경이 바뀌더라도 파일의 위치가 변하지 않는다면 상대경로로 파일을 찾아서 이용할 수 있음.  

외부에서 파일을 가져오는 경우에는 상대경로로 이용하는 경우가 많음.  

API는 데이터를 받아오는 것. (요청해서)  
접속을 한다고 브라우저를 띄워서 요청을 보내면, 화면에서 보이는 데이터를 받아와서 보여주는 것.  
=> 구글, 네이버 등 접속하는 것 모두가 API.  

API 주소는 어떤 환경에서 접속하더라도 모두 동일.  
그렇기에 절대경로로 적어줌.

In [3]:
# csv 파일 위치 폴더 만들고 이동하고, 위치 다시 지정 : 상위로 갔다가 
csv_df = pd.read_csv("../csv/example.csv")
csv_df

  Name  Gender          Phone
0    A    male  010-1234-5678
1    B  female  010-1234-5679
2    C    male  010-1234-5680
3    D  female  010-1234-5681
4    E    male  010-1234-5682
5    F  female  010-1234-5683
6    G    male  010-1234-5684
7    H  female  010-1234-5685
8    I    male  010-1234-5686
9    J  female  010-1234-5687

In [4]:
csv_df.head()

  Name  Gender          Phone
0    A    male  010-1234-5678
1    B  female  010-1234-5679
2    C    male  010-1234-5680
3    D  female  010-1234-5681
4    E    male  010-1234-5682

In [5]:
csv_df.tail()

  Name  Gender          Phone
5    F  female  010-1234-5683
6    G    male  010-1234-5684
7    H  female  010-1234-5685
8    I    male  010-1234-5686
9    J  female  010-1234-5687